.container {
    height: 100vh;
    width: 100%;
    display: flex;
}

.mainContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.childContainer {
    flex: 1;
    background: #eceef0;
    overflow-y: auto;
    overflow-x: hidden;
}