.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.makeStyles-menuCard-18 {
  width: 235px !important;
  //display:none !important;
}

.MuiListItemAvatar-root {
  min-width: 45px !important;
}

.makeStyles-grow-15 {
  padding-left: 250px !important;
  //padding-left: 20px !important;
}
// .MuiFormLabel-root.Mui-error,
// .MuiFormHelperText-root.Mui-error,
// .MuiFormLabel-asterisk.Mui-error {
//   background-color: transparent !important;
// }

// .MuiFilledInput-root.Mui-error {
//   background-color: #edf2f5 !important;
// }

.MuiInputLabel-filled.MuiInputLabel-marginDense {
  word-break: break-all;
  display: inline-block;
  width: 85%;
  font-size: 14px;
}

.MuiSelect-iconFilled {
  right: 0px !important;
}

.MuiTableCell-sizeSmall:last-child{
  padding-right: 4px !important;
}

.MuiChip-label{
  padding-left: 8px !important;
  padding-right: 8px !important;
  font-size: 12px !important;
}

.removeStyle,
.removeStyle .MuiFilledInput-marginDense,
.removeStyle .MuiSelect-select:focus,
.removeStyle .MuiInputBase-root.MuiFilledInput-root:hover {
  background-color: transparent;
  border: 0;
  outline: none;
}

.removeStyle .MuiFilledInput-marginDense .MuiSelect-filled.MuiSelect-filled {
  padding-top: 6px;
  height: 33px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
